<%= form_for [:admin, schedule.model], html: {class: 'bed-schedule-form' } do |f| %>
  <%= render partial: '/layouts/model_error', locals: {model_error: schedule.model_error} %>
  <div class='field facility'>
    <%= f.label :facility_name %>
    <%= f.text_field :facility_name %>
  </div>

  <div class='field bed-count'>
    <%= f.label :bed_count %>
    <%= f.number_field :bed_count %>
  </div>

  <div class='field month'>
    <%= label "bed_schedule", "month" %>
    <%= text_field "bed_schedule", "month", value: schedule.month, id: schedule.id_for_tag('bed_schedule_month') %>
  </div>
  <div class='field day'>
    <%= label "bed_schedule", "day" %>
    <%= text_field "bed_schedule", "day", value: schedule.day, id: schedule.id_for_tag('bed_schedule_day') %>
  </div>
  <div class='field year'>
    <%= label "bed_schedule", "year" %>
    <%= text_field "bed_schedule", "year", value: schedule.year, id: schedule.id_for_tag('bed_schedule_year') %>
  </div>
  <div class='field delete'>
    <% if schedule.persisted? %>
    <%= check_box "bed_schedule", "delete", {id: schedule.id_for_tag('bed_schedule_delete') } %>
    <%= label "bed_schedule", "delete", '&nbsp;'.html_safe, {for: schedule.id_for_tag('bed_schedule_delete')} %>
    <% end %>
  </div>
  <div class='field save-button'>
    <%= f.submit "Save", disabled: true %>
  </div>
<% end %>
