<h2 class='section-header'>Daily bed capacity</h2>

<%= render partial: 'form' %>

<div class='audit-logs'>
  <% @view_model.audit_logs.each do |log| %>
  <div class='audit-log'>
    <span class='logged-on'>
      <%= log.logged_on %>
    </span>
    <span class='message'>
      <%= log.message %>
    </span>
  </div>
  <% end %>
</div>

<h2 class='section-header'>
  Scheduled Beds
</h2>

<div class='usa-grid-full bed-schedules'>
  <h4 class='fake-table-header'>
    <div class='fake-header facility'>Facility</div>
    <div class='fake-header bed-count'>Bed count</div>
    <div class='fake-header month'>Month</div>
    <div class='fake-header day'>Day</div>
    <div class='fake-header year'>Year</div>
    <div class='fake-header delete'>Delete</div>
    <div class='fake-header save-button'></div>
  </h4>

  <% @view_model.schedules.each do |schedule| %>
    <%= render partial: '/admin/bed_schedules/form', locals: {schedule: schedule} %>
  <% end %>
  <%= render partial: '/admin/bed_schedules/form', locals: {schedule: @view_model.new_bed_schedule } %>
</div>
