<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Date email confirmed</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @view_model.users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.confirmed_at %></td>
      <td class='role-form-container'>
        <%= form_for([:admin, user.user], html: {class: 'user-role'}) do |f| %>
          <%= f.select :role, @view_model.role_names, {selected: user.role} %>
          <%= f.submit 'Save' %>
          <a href='javascript:void(0)' class='cancel-user-role-change'>Cancel</a>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
