<div class='report-content'>
  <div class='usa-grid-full key-numbers'>
    <div class='usa-width-one-third referred-placement'>
      <h4>Referred Placement</h4>
      <p class='stat'><%= @view_model.referrals %></p>
    </div>
    <div class='usa-width-one-third discharges'>
      <h4>Discharges</h4>
      <p class='stat'><%= @view_model.discharges %></p>
    </div>
    <div class='usa-width-one-third children-in-care'>
      <h4>Children in care</h4>
      <p class='stat'><%= @view_model.in_care %></p>
    </div>
  </div>
  <div class='usa-grid-full key-numbers bottom-row'>
    <div class='usa-width-one-third open-beds'>
      <h4>Open beds</h4>
      <p class='stat'><%= @view_model.open_beds %></p>
    </div>
    <div class='usa-width-one-third reserve-beds'>
      <h4>Reserve beds</h4>
      <p class='stat'><%= @view_model.reserve_beds %></p>
    </div>
  </div>

  <div class='usa-grid-full rates'>
    <div class='usa-width-one-half occupancy-rates'>
      <h4 class='row'>Occupancy rates</h4>
      <div class='usa-grid-full color-alert-row'>
        <div class='description usa-width-three-fourths'>Funded capacity + activated reserve beds</div>
        <div class='calculation-value usa-width-one-fourth <%= @view_model.activated_rate_status %>'><%= @view_model.activated_rate %></div>
      </div>
      <div class='usa-grid-full color-alert-row'>
        <div class='description usa-width-three-fourths'>Funded capacity + all reserve beds</div>
        <div class='calculation-value usa-width-one-fourth <%= @view_model.reserved_rate_status %>'><%= @view_model.reserved_rate %></div>
      </div>
      <%= render partial: @view_model.operational_occupancy_partial %>
    </div>

    <div class='usa-width-one-half occupancy-rates'>
      <h4 class='row'>Discharge rates</h4>
      <div class='usa-grid-full color-alert-row'>
        <div class='description usa-width-three-fourths'>7 day average per 100 children</div>
        <div class='calculation-value usa-width-one-fourth <%= @view_model.seven_day_discharge_average_per_hundred_status %>'><%= @view_model.seven_day_discharge_average_per_hundred %></div>
      </div>
      <div class='usa-grid-full color-alert-row'>
        <div class='description usa-width-three-fourths'>30 day average per 100 children</div>
        <div class='calculation-value usa-width-one-fourth <%= @view_model.thirty_day_discharge_average_per_hundred_status %>'><%= @view_model.thirty_day_discharge_average_per_hundred %></div>
      </div>
    </div>
  </div>

  <div class='usa-grid-full detail-tables'>
    <div class='usa-width-one-third referred-placements'>
      <h4 class='row'>Referred Placements</h4>
      <p class='row'>
        <%= @view_model.date %>
        <b><%= @view_model.referrals %></b>
      </p>
      <p class='row'>
        7 day average
        <b><%= @view_model.seven_day_referrals_average %></b>
      </p>
      <p class='row'>
        7 day average vs. last month average
        <b><%= @view_model.week_vs_month_referrals_average_percentage %></b>
      </p>
    </div>

    <div class='usa-width-one-third discharges'>
      <h4 class='row'>Discharges</h4>
      <p class='row'>
        <%= @view_model.date %>
        <b><%= @view_model.discharges %></b>
      </p>
      <p class='row'>
        7 day average
        <b><%= @view_model.seven_day_discharge_average %></b>
      </p>
      <p class='row'>
        7 day average vs. last month average
        <b><%= @view_model.week_vs_month_discharge_average_percentage %></b>
      </p>
    </div>

    <div class='usa-width-one-third census'>
      <h4 class='row'>Census</h4>
      <p class='row'>
        Children in care
        <b><%= @view_model.in_care %></b>
      </p>
      <p class='row'>
        Current funded capacity
        <b><%= @view_model.current_funded_capacity %></b>
      </p>
      <p class='row'>
        Total capacity including all reserve beds
        <b><%= @view_model.total_reserve_capacity %></b>
      </p>
    </div>
  </div>

  <div class='usa-grid-full maximum-estimates'>
    <div class='usa-width-one-half target-capacity'>
      <h4 class='row'>
        Maximum target capacity details<br>
        <span class='unbold'>Estimated days until 85% target reached</span>
      </h4>
      <div class='usa-grid-full'>
        <div class='usa-width-one-third left-label'>
          Funded capacity + all reserve beds
        </div>
        <div class='usa-width-two-thirds'>
          <div class='usa-grid-full color-alert-row'>
            <div class='description usa-width-three-fourths'>At currently weekly referred placement level</div>
            <div class='calculation-value double-sized usa-width-one-fourth <%= @view_model.funded_reserve_85_growth_0_capacity_status %>'><%= @view_model.funded_reserve_85_growth_0_capacity %></div>
          </div>
          <div class='usa-grid-full color-alert-row'>
            <div class='description usa-width-three-fourths'>At current growth rate</div>
            <div class='calculation-value usa-width-one-fourth <%= @view_model.funded_reserve_85_growth_1_capacity_status %>'><%= @view_model.funded_reserve_85_growth_1_capacity %></div>
          </div>
          <div class='usa-grid-full color-alert-row'>
            <div class='description usa-width-three-fourths'>At 2X growth rate</div>
            <div class='calculation-value usa-width-one-fourth <%= @view_model.funded_reserve_85_growth_2_capacity_status %>'><%= @view_model.funded_reserve_85_growth_2_capacity %></div>
          </div>
        </div>
      </div>
    </div>
    <div class='usa-width-one-half operational-capacity'>
      <h4 class='row'>
        Maximum operational capacity details<br>
        <span class='unbold'>Estimated days until 95% target reached</span>
      </h4>
      <div class='usa-grid-full'>
        <div class='usa-width-one-third left-label'>
          Funded capacity + all reserve beds
        </div>
        <div class='usa-width-two-thirds'>
          <div class='usa-grid-full color-alert-row'>
            <div class='description usa-width-three-fourths'>At currently weekly referred placement level</div>
            <div class='calculation-value double-sized usa-width-one-fourth <%= @view_model.funded_reserve_95_growth_0_capacity_status %>'><%= @view_model.funded_reserve_95_growth_0_capacity %></div>
          </div>
          <div class='usa-grid-full color-alert-row'>
            <div class='description usa-width-three-fourths'>At current growth rate</div>
            <div class='calculation-value usa-width-one-fourth <%= @view_model.funded_reserve_95_growth_1_capacity_status %>'><%= @view_model.funded_reserve_95_growth_1_capacity %></div>
          </div>
          <div class='usa-grid-full color-alert-row'>
            <div class='description usa-width-three-fourths'>At 2X growth rate</div>
            <div class='calculation-value usa-width-one-fourth <%= @view_model.funded_reserve_95_growth_2_capacity_status %>'><%= @view_model.funded_reserve_95_growth_2_capacity %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
