<div class='usa-grid-full'>
  <h2 class='usa-width-one-half'>
    <div class='header'>Daily report</div>
    <div class='date'><%= @view_model.date %></div>
  </h2>

  <div class='selectors usa-width-one-half'>
    <div class='date-selector'>
      <label for='select-report-date'>Select report date</label>
      <select id='select-report-date' class='report-date'>
        <% @view_model.available_dates.each do |report_date| %>
          <option value='<%= report_date.database_date %>' <%= report_date.selected %>><%= report_date.full_month_us_date %></option>
        <% end %>
      </select>
    </div>

    <% if @view_model.show_type_selector? %>
    <div class='type-selector'>
      <label for='select-report-type'>Report view</label>
      <select id='select-report-type' class='report-type'>
        <% @view_model.types.each do |type| %>
          <option value='<%= type.value %>' <%= type.selected %>><%= type.name %></option>
        <% end %>
      </select>
    </div>
    <% end %>
  </div>
</div>

<hr>
<%= render partial: @view_model.report_content_partial %>

<h6><%= @view_model.type_name %> view</h6>
