<!DOCTYPE html>
<html>
  <head>
    <title>Unaccompanied Children Dashboard</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/ico" href="<%= image_url "favicons/favicon.ico"%>" />
    <link rel="icon" type="image/png" sizes="192x192" href="<%= image_url "favicons/favicon-192.png" %>" />
    <link rel="apple-touch-icon-precomposed" href="<%= image_url "favicons/favicon-57.png" %>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_url "favicons/favicon-72.png" %>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_url "favicons/favicon-114.png" %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="usa-disclaimer">
      <div class="usa-disclaimer-official application-content">
        <img src="<%= image_url "favicons/favicon-40.png" %>" alt="U.S. flag">
        <p>An official website of the United States government</p>
      </div>
    </div>

    <div class='application-content content-space'>
      <header class="usa-site-header" role="banner">
        <div class='site-navbar'>
          <a href='/'>
            <h3>Unaccompanied Children Dashboard</h3>
            <h6>Office for Refugee Resettlement</h6>
          </a>
        </div>
      </header>
      <div class='main-content <%= controller_name.underscore %>'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
